<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Real-time Chat App</title>
  <link rel="stylesheet" href="styles/style.css">
</head>
<body ng-app="chatApp" ng-controller="chatController">
  <div class="chat-container">
    <div class="chat-box">
      <div class="messages">
        <div ng-repeat="message in messages">
          <p><strong>{{message.user}}:</strong> {{message.text}}</p>
        </div>
      </div>
      <input type="text" ng-model="newMessage" ng-keypress="checkEnter($event)" placeholder="Type your message...">
      <button ng-click="sendMessage()">Send</button>
    </div>
  </div>
  
  <script src="https://code.angularjs.org/1.8.2/angular.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-database.js"></script>
  <script src="app.js"></script>
</body>
</html>
